<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gl.mgr.dao.GwjMapper" >
  <resultMap id="BaseResultMap" type="com.gl.mgr.bean.Gwj" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="phonenum" property="phonenum" jdbcType="VARCHAR" />
    <result column="company" property="company" jdbcType="VARCHAR" />
    <result column="startdate" property="startdate" jdbcType="DATE" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="getprice" property="getprice" jdbcType="DECIMAL" />
    <result column="more" property="more" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="enddate" property="enddate" jdbcType="DATE" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, name, phonenum, company, startdate, price, getprice, more, status, enddate
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.gl.mgr.bean.GwjExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from gwj
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from gwj
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from gwj
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.gl.mgr.bean.GwjExample" >
    delete from gwj
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.gl.mgr.bean.Gwj" >
    insert into gwj (id, name, phonenum, 
      company, startdate, price, 
      getprice, more, status, 
      enddate)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{phonenum,jdbcType=VARCHAR}, 
      #{company,jdbcType=VARCHAR}, #{startdate,jdbcType=DATE}, #{price,jdbcType=DECIMAL}, 
      #{getprice,jdbcType=DECIMAL}, #{more,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{enddate,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.gl.mgr.bean.Gwj" >
    insert into gwj
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="phonenum != null" >
        phonenum,
      </if>
      <if test="company != null" >
        company,
      </if>
      <if test="startdate != null" >
        startdate,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="getprice != null" >
        getprice,
      </if>
      <if test="more != null" >
        more,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="enddate != null" >
        enddate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="phonenum != null" >
        #{phonenum,jdbcType=VARCHAR},
      </if>
      <if test="company != null" >
        #{company,jdbcType=VARCHAR},
      </if>
      <if test="startdate != null" >
        #{startdate,jdbcType=DATE},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="getprice != null" >
        #{getprice,jdbcType=DECIMAL},
      </if>
      <if test="more != null" >
        #{more,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="enddate != null" >
        #{enddate,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.gl.mgr.bean.GwjExample" resultType="java.lang.Integer" >
    select count(*) from gwj
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update gwj
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.phonenum != null" >
        phonenum = #{record.phonenum,jdbcType=VARCHAR},
      </if>
      <if test="record.company != null" >
        company = #{record.company,jdbcType=VARCHAR},
      </if>
      <if test="record.startdate != null" >
        startdate = #{record.startdate,jdbcType=DATE},
      </if>
      <if test="record.price != null" >
        price = #{record.price,jdbcType=DECIMAL},
      </if>
      <if test="record.getprice != null" >
        getprice = #{record.getprice,jdbcType=DECIMAL},
      </if>
      <if test="record.more != null" >
        more = #{record.more,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.enddate != null" >
        enddate = #{record.enddate,jdbcType=DATE},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update gwj
    set id = #{record.id,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      phonenum = #{record.phonenum,jdbcType=VARCHAR},
      company = #{record.company,jdbcType=VARCHAR},
      startdate = #{record.startdate,jdbcType=DATE},
      price = #{record.price,jdbcType=DECIMAL},
      getprice = #{record.getprice,jdbcType=DECIMAL},
      more = #{record.more,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=INTEGER},
      enddate = #{record.enddate,jdbcType=DATE}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.gl.mgr.bean.Gwj" >
    update gwj
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="phonenum != null" >
        phonenum = #{phonenum,jdbcType=VARCHAR},
      </if>
      <if test="company != null" >
        company = #{company,jdbcType=VARCHAR},
      </if>
      <if test="startdate != null" >
        startdate = #{startdate,jdbcType=DATE},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="getprice != null" >
        getprice = #{getprice,jdbcType=DECIMAL},
      </if>
      <if test="more != null" >
        more = #{more,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="enddate != null" >
        enddate = #{enddate,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gl.mgr.bean.Gwj" >
    update gwj
    set name = #{name,jdbcType=VARCHAR},
      phonenum = #{phonenum,jdbcType=VARCHAR},
      company = #{company,jdbcType=VARCHAR},
      startdate = #{startdate,jdbcType=DATE},
      price = #{price,jdbcType=DECIMAL},
      getprice = #{getprice,jdbcType=DECIMAL},
      more = #{more,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      enddate = #{enddate,jdbcType=DATE}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>