<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gl.mgr.dao.LxyMapper" >
  <resultMap id="BaseResultMap" type="com.gl.mgr.bean.Lxy" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="grouptype" property="grouptype" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="numcount" property="numcount" jdbcType="INTEGER" />
    <result column="principal" property="principal" jdbcType="VARCHAR" />
    <result column="phonenum" property="phonenum" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="profit" property="profit" jdbcType="DECIMAL" />
    <result column="startDate" property="startdate" jdbcType="DATE" />
    <result column="finishDate" property="finishdate" jdbcType="DATE" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="more" property="more" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, grouptype, name, numcount, principal, phonenum, price, profit, startDate, finishDate, 
    status, more
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.gl.mgr.bean.LxyExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from lxy
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from lxy
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from lxy
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.gl.mgr.bean.LxyExample" >
    delete from lxy
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.gl.mgr.bean.Lxy" >
    insert into lxy (id, grouptype, name, 
      numcount, principal, phonenum, 
      price, profit, startDate, 
      finishDate, status, more
      )
    values (#{id,jdbcType=INTEGER}, #{grouptype,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{numcount,jdbcType=INTEGER}, #{principal,jdbcType=VARCHAR}, #{phonenum,jdbcType=VARCHAR}, 
      #{price,jdbcType=DECIMAL}, #{profit,jdbcType=DECIMAL}, #{startdate,jdbcType=DATE}, 
      #{finishdate,jdbcType=DATE}, #{status,jdbcType=INTEGER}, #{more,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.gl.mgr.bean.Lxy" >
    insert into lxy
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="grouptype != null" >
        grouptype,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="numcount != null" >
        numcount,
      </if>
      <if test="principal != null" >
        principal,
      </if>
      <if test="phonenum != null" >
        phonenum,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="profit != null" >
        profit,
      </if>
      <if test="startdate != null" >
        startDate,
      </if>
      <if test="finishdate != null" >
        finishDate,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="more != null" >
        more,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="grouptype != null" >
        #{grouptype,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="numcount != null" >
        #{numcount,jdbcType=INTEGER},
      </if>
      <if test="principal != null" >
        #{principal,jdbcType=VARCHAR},
      </if>
      <if test="phonenum != null" >
        #{phonenum,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="profit != null" >
        #{profit,jdbcType=DECIMAL},
      </if>
      <if test="startdate != null" >
        #{startdate,jdbcType=DATE},
      </if>
      <if test="finishdate != null" >
        #{finishdate,jdbcType=DATE},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="more != null" >
        #{more,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.gl.mgr.bean.LxyExample" resultType="java.lang.Integer" >
    select count(*) from lxy
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update lxy
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.grouptype != null" >
        grouptype = #{record.grouptype,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.numcount != null" >
        numcount = #{record.numcount,jdbcType=INTEGER},
      </if>
      <if test="record.principal != null" >
        principal = #{record.principal,jdbcType=VARCHAR},
      </if>
      <if test="record.phonenum != null" >
        phonenum = #{record.phonenum,jdbcType=VARCHAR},
      </if>
      <if test="record.price != null" >
        price = #{record.price,jdbcType=DECIMAL},
      </if>
      <if test="record.profit != null" >
        profit = #{record.profit,jdbcType=DECIMAL},
      </if>
      <if test="record.startdate != null" >
        startDate = #{record.startdate,jdbcType=DATE},
      </if>
      <if test="record.finishdate != null" >
        finishDate = #{record.finishdate,jdbcType=DATE},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.more != null" >
        more = #{record.more,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update lxy
    set id = #{record.id,jdbcType=INTEGER},
      grouptype = #{record.grouptype,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      numcount = #{record.numcount,jdbcType=INTEGER},
      principal = #{record.principal,jdbcType=VARCHAR},
      phonenum = #{record.phonenum,jdbcType=VARCHAR},
      price = #{record.price,jdbcType=DECIMAL},
      profit = #{record.profit,jdbcType=DECIMAL},
      startDate = #{record.startdate,jdbcType=DATE},
      finishDate = #{record.finishdate,jdbcType=DATE},
      status = #{record.status,jdbcType=INTEGER},
      more = #{record.more,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.gl.mgr.bean.Lxy" >
    update lxy
    <set >
      <if test="grouptype != null" >
        grouptype = #{grouptype,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="numcount != null" >
        numcount = #{numcount,jdbcType=INTEGER},
      </if>
      <if test="principal != null" >
        principal = #{principal,jdbcType=VARCHAR},
      </if>
      <if test="phonenum != null" >
        phonenum = #{phonenum,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="profit != null" >
        profit = #{profit,jdbcType=DECIMAL},
      </if>
      <if test="startdate != null" >
        startDate = #{startdate,jdbcType=DATE},
      </if>
      <if test="finishdate != null" >
        finishDate = #{finishdate,jdbcType=DATE},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="more != null" >
        more = #{more,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gl.mgr.bean.Lxy" >
    update lxy
    set grouptype = #{grouptype,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      numcount = #{numcount,jdbcType=INTEGER},
      principal = #{principal,jdbcType=VARCHAR},
      phonenum = #{phonenum,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      profit = #{profit,jdbcType=DECIMAL},
      startDate = #{startdate,jdbcType=DATE},
      finishDate = #{finishdate,jdbcType=DATE},
      status = #{status,jdbcType=INTEGER},
      more = #{more,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>