<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gl.mgr.dao.LxyMapper" >
  <resultMap id="BaseResultMap" type="com.gl.mgr.bean.Lxy" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="startDate" property="startdate" jdbcType="DATE" />
    <result column="phonenum" property="phonenum" jdbcType="VARCHAR" />
    <result column="numcount" property="numcount" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="receivable" property="receivable" jdbcType="DECIMAL" />
    <result column="received" property="received" jdbcType="DECIMAL" />
    <result column="b2b" property="b2b" jdbcType="DECIMAL" />
    <result column="operator" property="operator" jdbcType="VARCHAR" />
    <result column="salesroom" property="salesroom" jdbcType="VARCHAR" />
    <result column="contract" property="contract" jdbcType="VARCHAR" />
    <result column="invoice" property="invoice" jdbcType="VARCHAR" />
    <result column="finishDate" property="finishdate" jdbcType="DATE" />
    <result column="principal" property="principal" jdbcType="VARCHAR" />
    <result column="more" property="more" jdbcType="VARCHAR" />
    <result column="grouptype" property="grouptype" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="gname" property="gname" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, startDate, phonenum, numcount, name, receivable, received, b2b, operator, salesroom, 
    contract, invoice, finishDate, principal, more, grouptype, status, gname
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.gl.mgr.bean.LxyExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from lxy
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from lxy
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from lxy
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.gl.mgr.bean.LxyExample" >
    delete from lxy
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.gl.mgr.bean.Lxy" >
    insert into lxy (id, startDate, phonenum, 
      numcount, name, receivable, 
      received, b2b, operator, 
      salesroom, contract, invoice, 
      finishDate, principal, more, 
      grouptype, status, gname
      )
    values (#{id,jdbcType=INTEGER}, #{startdate,jdbcType=DATE}, #{phonenum,jdbcType=VARCHAR}, 
      #{numcount,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{receivable,jdbcType=DECIMAL}, 
      #{received,jdbcType=DECIMAL}, #{b2b,jdbcType=DECIMAL}, #{operator,jdbcType=VARCHAR}, 
      #{salesroom,jdbcType=VARCHAR}, #{contract,jdbcType=VARCHAR}, #{invoice,jdbcType=VARCHAR}, 
      #{finishdate,jdbcType=DATE}, #{principal,jdbcType=VARCHAR}, #{more,jdbcType=VARCHAR}, 
      #{grouptype,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{gname,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.gl.mgr.bean.Lxy" >
    insert into lxy
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="startdate != null" >
        startDate,
      </if>
      <if test="phonenum != null" >
        phonenum,
      </if>
      <if test="numcount != null" >
        numcount,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="receivable != null" >
        receivable,
      </if>
      <if test="received != null" >
        received,
      </if>
      <if test="b2b != null" >
        b2b,
      </if>
      <if test="operator != null" >
        operator,
      </if>
      <if test="salesroom != null" >
        salesroom,
      </if>
      <if test="contract != null" >
        contract,
      </if>
      <if test="invoice != null" >
        invoice,
      </if>
      <if test="finishdate != null" >
        finishDate,
      </if>
      <if test="principal != null" >
        principal,
      </if>
      <if test="more != null" >
        more,
      </if>
      <if test="grouptype != null" >
        grouptype,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="gname != null" >
        gname,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="startdate != null" >
        #{startdate,jdbcType=DATE},
      </if>
      <if test="phonenum != null" >
        #{phonenum,jdbcType=VARCHAR},
      </if>
      <if test="numcount != null" >
        #{numcount,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="receivable != null" >
        #{receivable,jdbcType=DECIMAL},
      </if>
      <if test="received != null" >
        #{received,jdbcType=DECIMAL},
      </if>
      <if test="b2b != null" >
        #{b2b,jdbcType=DECIMAL},
      </if>
      <if test="operator != null" >
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="salesroom != null" >
        #{salesroom,jdbcType=VARCHAR},
      </if>
      <if test="contract != null" >
        #{contract,jdbcType=VARCHAR},
      </if>
      <if test="invoice != null" >
        #{invoice,jdbcType=VARCHAR},
      </if>
      <if test="finishdate != null" >
        #{finishdate,jdbcType=DATE},
      </if>
      <if test="principal != null" >
        #{principal,jdbcType=VARCHAR},
      </if>
      <if test="more != null" >
        #{more,jdbcType=VARCHAR},
      </if>
      <if test="grouptype != null" >
        #{grouptype,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="gname != null" >
        #{gname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.gl.mgr.bean.LxyExample" resultType="java.lang.Integer" >
    select count(*) from lxy
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update lxy
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.startdate != null" >
        startDate = #{record.startdate,jdbcType=DATE},
      </if>
      <if test="record.phonenum != null" >
        phonenum = #{record.phonenum,jdbcType=VARCHAR},
      </if>
      <if test="record.numcount != null" >
        numcount = #{record.numcount,jdbcType=INTEGER},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.receivable != null" >
        receivable = #{record.receivable,jdbcType=DECIMAL},
      </if>
      <if test="record.received != null" >
        received = #{record.received,jdbcType=DECIMAL},
      </if>
      <if test="record.b2b != null" >
        b2b = #{record.b2b,jdbcType=DECIMAL},
      </if>
      <if test="record.operator != null" >
        operator = #{record.operator,jdbcType=VARCHAR},
      </if>
      <if test="record.salesroom != null" >
        salesroom = #{record.salesroom,jdbcType=VARCHAR},
      </if>
      <if test="record.contract != null" >
        contract = #{record.contract,jdbcType=VARCHAR},
      </if>
      <if test="record.invoice != null" >
        invoice = #{record.invoice,jdbcType=VARCHAR},
      </if>
      <if test="record.finishdate != null" >
        finishDate = #{record.finishdate,jdbcType=DATE},
      </if>
      <if test="record.principal != null" >
        principal = #{record.principal,jdbcType=VARCHAR},
      </if>
      <if test="record.more != null" >
        more = #{record.more,jdbcType=VARCHAR},
      </if>
      <if test="record.grouptype != null" >
        grouptype = #{record.grouptype,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.gname != null" >
        gname = #{record.gname,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update lxy
    set id = #{record.id,jdbcType=INTEGER},
      startDate = #{record.startdate,jdbcType=DATE},
      phonenum = #{record.phonenum,jdbcType=VARCHAR},
      numcount = #{record.numcount,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      receivable = #{record.receivable,jdbcType=DECIMAL},
      received = #{record.received,jdbcType=DECIMAL},
      b2b = #{record.b2b,jdbcType=DECIMAL},
      operator = #{record.operator,jdbcType=VARCHAR},
      salesroom = #{record.salesroom,jdbcType=VARCHAR},
      contract = #{record.contract,jdbcType=VARCHAR},
      invoice = #{record.invoice,jdbcType=VARCHAR},
      finishDate = #{record.finishdate,jdbcType=DATE},
      principal = #{record.principal,jdbcType=VARCHAR},
      more = #{record.more,jdbcType=VARCHAR},
      grouptype = #{record.grouptype,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=INTEGER},
      gname = #{record.gname,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.gl.mgr.bean.Lxy" >
    update lxy
    <set >
      <if test="startdate != null" >
        startDate = #{startdate,jdbcType=DATE},
      </if>
      <if test="phonenum != null" >
        phonenum = #{phonenum,jdbcType=VARCHAR},
      </if>
      <if test="numcount != null" >
        numcount = #{numcount,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="receivable != null" >
        receivable = #{receivable,jdbcType=DECIMAL},
      </if>
      <if test="received != null" >
        received = #{received,jdbcType=DECIMAL},
      </if>
      <if test="b2b != null" >
        b2b = #{b2b,jdbcType=DECIMAL},
      </if>
      <if test="operator != null" >
        operator = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="salesroom != null" >
        salesroom = #{salesroom,jdbcType=VARCHAR},
      </if>
      <if test="contract != null" >
        contract = #{contract,jdbcType=VARCHAR},
      </if>
      <if test="invoice != null" >
        invoice = #{invoice,jdbcType=VARCHAR},
      </if>
      <if test="finishdate != null" >
        finishDate = #{finishdate,jdbcType=DATE},
      </if>
      <if test="principal != null" >
        principal = #{principal,jdbcType=VARCHAR},
      </if>
      <if test="more != null" >
        more = #{more,jdbcType=VARCHAR},
      </if>
      <if test="grouptype != null" >
        grouptype = #{grouptype,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="gname != null" >
        gname = #{gname,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gl.mgr.bean.Lxy" >
    update lxy
    set startDate = #{startdate,jdbcType=DATE},
      phonenum = #{phonenum,jdbcType=VARCHAR},
      numcount = #{numcount,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      receivable = #{receivable,jdbcType=DECIMAL},
      received = #{received,jdbcType=DECIMAL},
      b2b = #{b2b,jdbcType=DECIMAL},
      operator = #{operator,jdbcType=VARCHAR},
      salesroom = #{salesroom,jdbcType=VARCHAR},
      contract = #{contract,jdbcType=VARCHAR},
      invoice = #{invoice,jdbcType=VARCHAR},
      finishDate = #{finishdate,jdbcType=DATE},
      principal = #{principal,jdbcType=VARCHAR},
      more = #{more,jdbcType=VARCHAR},
      grouptype = #{grouptype,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      gname = #{gname,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <delete id="deleteLxyMember" parameterType="java.lang.Integer">
      delete from lxy_member where lxyId = #{lxyId}
  </delete>
</mapper>